@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
    /* ### Primary */
    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);

    /* ### Neutral */
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);

    /* Typography */
    --para-font: 15px;
    --main-title: 2.6rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
}

html {
    position: relative;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    margin-inline: auto;
}

.navigation {
    display: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 20px;
}

.close-menu-btn {
    display: none;
}

.menu-btn {
    cursor: pointer;
}

.menu-btn.show .close-menu-btn {
    display: block;
    position: absolute;
    top: 35px;
    z-index: 2;
    right: 35px;
}

.menu-btn.show .menu {
    display: none;
}

.overlay.show {
    background-color: #00000091;
    height: 100%;
    width: 100%;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    visibility: visible;
    transition: .3s;
}

.overlay.show {
    background-color: #00000091;
    opacity: 1;
    visibility: visible;
}

.overlay.hide {
    opacity: 0;
    visibility: hidden;
}

.navigation.show {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--Off-white);
    height: 100%;
    padding: 100px 30px;
    z-index: 2;
}

.navigation {

    width: 0%;
    transition: 0.5s;
}

.navigation a {
    color: var(--Dark-grayish-blue);
    text-decoration: none;
    transition: 0.5s;
}

.navigation a:hover {
    color: var(--Soft-red);
}

@media (min-width: 1050px) {
    .navigation {
        display: flex;
        gap: 30px;
    }

    .menu-btn {
        display: none;
    }
}


.recent-news {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.hero-img img {
    display: block;
    width: 100%;
}

.main-title {
    font-weight: 800;
    font-size: 3rem;
    margin: 30px 0;
    color: var(--Very-dark-blue);
}

.main-description {
    color: var(--Dark-grayish-blue);
    line-height: 1.7;
}


.btn.read-more {
    margin-top: 30px;
    background-color: var(--Soft-red);
    border: none;
    padding: 15px 40px;
    font-size: 1rem;
    color: var(--Off-white);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
}

.btn.read-more:hover {
    background-color: var(--Very-dark-blue);
}


@media (min-width: 750px) {
    .container {
        width: 85%;
    }

    .recent-news {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .hero-img {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    .main-description {
        margin-top: 30px;
    }

    .main-title {
        grid-column: 1/2;
        grid-row: 2 / 4;
        margin-bottom: 0;
    }

    .btn.read-more {
        margin-top: 0;
        grid-column: 2/3;
        justify-self: start;
        margin-top: 20px;
    }
}

.new-recent-news {
    background-color: var(--Very-dark-blue);
    color: white;
    margin: 70px 0;
    padding: 30px;
}

.aside-news:last-child {
    padding-bottom: 0;
}

.side-bar-title {
    font-size: 2rem;
    font-weight: 800;
    color: var(--Soft-orange);
    margin-bottom: 30px;
}

.aside-news {
    padding: 30px 0;
    display: grid;
    gap: 15px;
}

.aside-news:not(:last-child) {
    border-bottom: 1px solid var(--Dark-grayish-blue);
}

.aside-title {
    color: var(--Off-white);
}

.aside-meta-description {
    color: var(--Grayish-blue);
    line-height: 1.7;
}

.news-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom: 50px;
}

.news-list-item img {
    width: 30%;
    object-fit: cover;
    float: left;
    margin-right: 20px;
}

.news-content {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.news-number {
    font-size: 2.4rem;
    font-weight: 800;
    color: var(--Grayish-blue);
}

.aside-news-title {
    color: var(--Very-dark-blue);
    font-size: 1.1rem;
}

.aside-meta-description {
    color: var(--Dark-grayish-blue);
}


@media (min-width:750px) {
    .news-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center
    }

    .news-list-item {
        width: 375px;
    }

    .news-list-item img {
        width: 40%;
        float: left;
        margin-right: 0;
    }

    .news-content {
        width: 55%;
        margin-left: 5%;
        float: left;
    }

}

@media (min-width:1250px) {
    .main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 40px;
    }

    .recent-news {
        column-gap: 20px;
    }

    .new-recent-news {
        margin-top: 0;
    }

    .main-title, .main-description {
        margin-top: 0;
    }

    .related-news {
        grid-column: 1 / 3;
    }
}